/*Обнуление*/
* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}
nav,
footer,
header,
aside {
	display: block;
}
html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
	font-family: inherit;
}
input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}
/*--------------------*/

body {
	font-family: "Montserrat", sans-serif;
	font-size: 15px;
	color: #333;
	line-height: 1.6;
	margin: 0;
}

hr {
	display: block;
	width: 100%;
	background: #e5e5e5;
	height: 1px;
	margin: 40px 0;
}

/* font-family: 'Kaushan Script', cursive; */

/* Container */
.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

/* Header */
.header {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	padding: 30px 0 0 0;
}
.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header__logo {
	font-size: 30px;
	font-weight: 700;
	color: #fff;
}

/* Nav */
.nav {
	text-transform: uppercase;
	font-size: 14px;
}
.nav__link {
	display: inline-block;
	vertical-align: top;
	margin: 0 33px;
	color: #fff;
	text-decoration: none;
	transition: color 0.1s linear;
	position: relative;
}
.nav__link:hover {
	color: #fce38a;
}
.nav__link:after {
	content: "";
	opacity: 0;
	width: 100%;
	height: 3px;
	background-color: #fce38a;
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1;
	transition: opacity 0.1s linear;
}
.nav__link:hover::after,
.nav__link.active:after {
	opacity: 1;
}
.nav__link.active {
	color: #fce38a;
}

/* Intro */
.intro {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 100vh;
	background: url(../img/Clip.jpg) center no-repeat;
	background-size: cover;
}
.intro__inner {
	width: 100%;
	max-width: 880px;
	margin: 0 auto;
	text-align: center;
}
.intro__suptitle {
	font-size: 52px;
	color: #fff;
	font-family: "Kaushan Script", cursive;
	margin: 0px 0 20px;
}
.intro__title {
	color: #fff;
	font-size: 120px;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 1;
}
.intro__title::after {
	content: "";
	display: block;
	width: 60px;
	height: 3px;
	background: #fff;
	margin: 60px auto;
}

/* Button */
.btn {
	display: inline-block;
	vertical-align: top;
	padding: 8px 30px;
	border: 3px solid #fff;
	color: #fff;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 700;
	transition: background 0.1s linear, color 0.1s linear;
}
.btn:hover {
	background: #fff;
	color: #333;
}

/* Slider */
.slider {
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 1;
}
.slider__inner {
	display: flex;
	justify-content: space-between;
}
.slider__item {
	width: 23%;
	padding: 20px 0;
	border-top: 2px solid #fff;
	opacity: 0.6;
	position: relative;
	font-size: 18px;
	color: #fff;
	text-transform: uppercase;
}
.slider__item.active {
	opacity: 1;
}
.slider__item.active:before {
	content: "";
	display: block;
	width: 70px;
	height: 3px;
	position: absolute;
	top: -3px;
	left: 0;
	z-index: 1;
	background: #f38181;
}
.slider__num {
	font-size: 24px;
	font-weight: 700;
}

/* Section */
.section {
	padding: 80px 0;
}
.section--devices {
	padding: 0;
	background: url("../img/devices-bg.jpg") center no-repeat;
	background-size: cover;
}
.section__header {
	width: 100%;
	max-width: 950px;
	margin: 0 auto 50px;
	text-align: center;
}
.section__suptitle {
	font-family: "Kaushan Script", cursive;
	font-size: 24px;
}
.section__title {
	font-size: 30px;
	font-weight: 700;
	text-transform: uppercase;
}
.section__title:after {
	content: "";
	display: block;
	width: 60px;
	height: 3px;
	margin: 30px auto;
	background: #f38181;
}
.section__text {
	font-size: 15px;
	color: #999;
}

/* About */
.about {
	margin: 80px 0 0 0;
	display: flex;
	justify-content: space-between;
}
.about__item {
	width: 380px;
	background: #95e1d3;
	position: relative;
}
.about__item:hover .about__img {
	transform: translate3d(-10px, -10px, 0);
}
.about__item:hover .about__img img {
	opacity: 0.1;
}
.about__img {
	background: linear-gradient(to bottom, #f38181, #fce38a);
	transition: transform 0.2s linear;
}
.about__img img {
	display: block;
	transition: opacity 0.1s linear;
}
.about__text {
	width: 100%;
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 18px;
	text-align: center;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 0;
	z-index: 2;
	transform: translate3d(0, -50%, 0);
	transition: opacity 0.2s linear;
}
.about__item:hover .about__text {
	opacity: 1;
}

/* Statistics */
.statistics {
	background: #95e1d3;
}
.stat {
	display: flex;
}
.stat__item {
	flex: 1 1 0;
	border-left: 1px solid #b5eae0;
	text-align: center;
	color: #fff;
	padding: 70px 25px;
	text-transform: uppercase;
}
.stat__item:last-child {
	border-right: 1px solid #b5eae0;
}
.stat__count {
	margin: 0 0 10px 0;
	font-size: 72px;
	font-weight: 700;
	line-height: 1;
}
.stat__text {
	font-size: 14px;
}

/* Services */
.services {
	display: flex;
}
.services__item {
	flex: 1 1 0;
	padding: 0 35px 0 85px;
	position: relative;
}
.services__icon {
	position: absolute;
	top: 0;
	left: 28px;
	z-index: 1;
}
.services__title {
	font-size: 14px;
	text-transform: uppercase;
	color: #333;
	margin: 0 0 10px 0;
}
.services__text {
	font-size: 15px;
	color: #999;
}

/* Devices */
.devices {
	width: 100%;
	max-width: 600px;
	margin: 0 auto;
	position: relative;
}
.devices__item {
	display: block;
}
.devices__item--iphone {
	position: absolute;
	bottom: -80px;
	right: 0;
	z-index: 1;
}
